@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body{
  background-color:#EEE;
}

canvas{
  width:100%;
  /* height:300px; */
  background-color:white;
}

/**
 * 【注意点】
 * borderにサイズを持たせると、canvas.offsetWidthなどのサイズがズレるため、border:0;で利用すること。
 */